{% block content %}
  <div class="task-list">
    <h2>Task List</h2>
    <ul>
      {% for task in object_list %}
        <li>
          <strong>Title:</strong> {{ task.title }}<br>
          <strong>Description:</strong> {{ task.description }}<br>
          <strong>Due Date:</strong> {{ task.due_date|date:"F j, Y" }}<br>
          <strong>Status:</strong> {% if task.task_finished %}Completed{% else %}Incomplete{% endif %}
        </li>
        <hr>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
